<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_daojishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2140,1588},{116,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,138}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>game_daojishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1604},{100,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>game_daojishi_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2272,843},{520,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,212}}</string>
                <key>sourceSize</key>
                <string>{520,212}</string>
            </dict>
            <key>game_daojishi_rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,762},{244,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,128}}</string>
                <key>sourceSize</key>
                <string>{244,128}</string>
            </dict>
            <key>ui_bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2716,932},{201,199}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{201,199}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>ui_bt_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2700,1359},{219,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,215}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>ui_bt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2494,352},{348,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{348,169}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_cancel_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,777},{348,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{348,169}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_cancel_g_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,2},{386,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,207}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_cancel_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2698,1586},{386,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,207}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_comfirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2477,2},{348,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{348,169}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_comfirm_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2489,1586},{386,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,207}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2657,702},{228,228}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{228,228}}</string>
                <key>sourceSize</key>
                <string>{256,268}</string>
            </dict>
            <key>ui_bt_continue_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1712},{256,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,268}}</string>
                <key>sourceSize</key>
                <string>{256,268}</string>
            </dict>
            <key>ui_bt_d100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124,2},{714,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{714,142}}</string>
                <key>sourceSize</key>
                <string>{758,186}</string>
            </dict>
            <key>ui_bt_d1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,887},{715,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{715,143}}</string>
                <key>sourceSize</key>
                <string>{757,187}</string>
            </dict>
            <key>ui_bt_d1000_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{757,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,187}}</string>
                <key>sourceSize</key>
                <string>{757,187}</string>
            </dict>
            <key>ui_bt_d100_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{758,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,186}}</string>
                <key>sourceSize</key>
                <string>{758,186}</string>
            </dict>
            <key>ui_bt_d500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,2},{715,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{715,143}}</string>
                <key>sourceSize</key>
                <string>{757,187}</string>
            </dict>
            <key>ui_bt_d500_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,2},{757,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,187}}</string>
                <key>sourceSize</key>
                <string>{757,187}</string>
            </dict>
            <key>ui_bt_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2818,2},{201,199}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{201,199}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>ui_bt_exit_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2483,1365},{219,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,215}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>ui_bt_heal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2648,2},{347,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{347,168}}</string>
                <key>sourceSize</key>
                <string>{385,206}</string>
            </dict>
            <key>ui_bt_heal_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,390},{385,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,206}}</string>
                <key>sourceSize</key>
                <string>{385,206}</string>
            </dict>
            <key>ui_bt_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,1706},{228,235}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{228,235}}</string>
                <key>sourceSize</key>
                <string>{256,275}</string>
            </dict>
            <key>ui_bt_home_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1740},{256,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,275}}</string>
                <key>sourceSize</key>
                <string>{256,275}</string>
            </dict>
            <key>ui_bt_homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1712},{186,244}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{186,244}}</string>
                <key>sourceSize</key>
                <string>{222,284}</string>
            </dict>
            <key>ui_bt_homepage_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{222,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,284}}</string>
                <key>sourceSize</key>
                <string>{222,284}</string>
            </dict>
            <key>ui_bt_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2162,718},{123,122}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{123,122}}</string>
                <key>sourceSize</key>
                <string>{157,156}</string>
            </dict>
            <key>ui_bt_pause_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,719},{157,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,156}}</string>
                <key>sourceSize</key>
                <string>{157,156}</string>
            </dict>
            <key>ui_bt_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,1127},{228,230}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{228,230}}</string>
                <key>sourceSize</key>
                <string>{256,270}</string>
            </dict>
            <key>ui_bt_restart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1740},{256,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,270}}</string>
                <key>sourceSize</key>
                <string>{256,270}</string>
            </dict>
            <key>ui_bt_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1712},{399,240}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{399,240}}</string>
                <key>sourceSize</key>
                <string>{437,280}</string>
            </dict>
            <key>ui_bt_retry_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1754},{437,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,280}}</string>
                <key>sourceSize</key>
                <string>{437,280}</string>
            </dict>
            <key>ui_bt_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2133,1417},{348,169}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{348,169}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_bt_unlock_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2280,1588},{386,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,207}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>ui_gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2133,878},{537,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,137}}</string>
                <key>sourceSize</key>
                <string>{537,137}</string>
            </dict>
            <key>ui_hp_block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,762},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>ui_hp_block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,762},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>ui_new_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,821},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ui_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,821},{110,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,68}</string>
            </dict>
            <key>ui_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1958},{111,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,67}}</string>
                <key>sourceSize</key>
                <string>{111,67}</string>
            </dict>
            <key>ui_panel_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{817,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,587}}</string>
                <key>sourceSize</key>
                <string>{817,587}</string>
            </dict>
            <key>ui_panel_more_chance.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,921},{817,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,587}}</string>
                <key>sourceSize</key>
                <string>{817,587}</string>
            </dict>
            <key>ui_panel_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,820}}</string>
                <key>sourceSize</key>
                <string>{917,820}</string>
            </dict>
            <key>ui_panel_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,897},{807,813}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,813}}</string>
                <key>sourceSize</key>
                <string>{807,813}</string>
            </dict>
            <key>ui_panel_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{831,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{831,586}}</string>
                <key>sourceSize</key>
                <string>{831,586}</string>
            </dict>
            <key>ui_score_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,821},{469,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,74}}</string>
                <key>sourceSize</key>
                <string>{469,74}</string>
            </dict>
            <key>ui_tips_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,761},{251,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,124}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>ui_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2665,351},{214,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,215}}</string>
                <key>sourceSize</key>
                <string>{214,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movers_ui_game.pvr.ccz</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21fc865a9ee935304b511318517b7f2b$</string>
            <key>textureFileName</key>
            <string>movers_ui_game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
