<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>history_multi_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{577,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,950}}</string>
                <key>sourceSize</key>
                <string>{577,950}</string>
            </dict>
            <key>history_single_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{577,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,950}}</string>
                <key>sourceSize</key>
                <string>{577,950}</string>
            </dict>
            <key>home_aboutxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,357},{502,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,491}}</string>
                <key>sourceSize</key>
                <string>{502,491}</string>
            </dict>
            <key>home_bt_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1174},{202,240}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{202,240}}</string>
                <key>sourceSize</key>
                <string>{230,268}</string>
            </dict>
            <key>home_bt_about_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,850},{230,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,268}}</string>
                <key>sourceSize</key>
                <string>{230,268}</string>
            </dict>
            <key>home_bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1549},{201,199}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{201,199}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>home_bt_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1346},{219,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,215}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>home_bt_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,973},{200,244}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{200,244}}</string>
                <key>sourceSize</key>
                <string>{228,278}</string>
            </dict>
            <key>home_bt_bank_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1116},{228,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,278}}</string>
                <key>sourceSize</key>
                <string>{228,278}</string>
            </dict>
            <key>home_bt_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,526},{299,293}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{299,293}}</string>
                <key>sourceSize</key>
                <string>{335,323}</string>
            </dict>
            <key>home_bt_multiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,357},{306,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,308}}</string>
                <key>sourceSize</key>
                <string>{306,308}</string>
            </dict>
            <key>home_bt_multiL_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,665},{306,306}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,306}}</string>
                <key>sourceSize</key>
                <string>{306,308}</string>
            </dict>
            <key>home_bt_multi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,526},{335,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,323}}</string>
                <key>sourceSize</key>
                <string>{335,323}</string>
            </dict>
            <key>home_bt_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1346},{202,201}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{202,201}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>home_bt_record_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,850},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>home_bt_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,821},{293,293}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{293,293}}</string>
                <key>sourceSize</key>
                <string>{321,323}</string>
            </dict>
            <key>home_bt_single_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,851},{321,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,323}}</string>
                <key>sourceSize</key>
                <string>{321,323}</string>
            </dict>
            <key>home_bt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,274},{531,250}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{531,250}}</string>
                <key>sourceSize</key>
                <string>{553,270}</string>
            </dict>
            <key>home_bt_start_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{553,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,270}}</string>
                <key>sourceSize</key>
                <string>{553,270}</string>
            </dict>
            <key>home_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{823,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{823,353}}</string>
                <key>sourceSize</key>
                <string>{823,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movers_ui_homepage.pvr.ccz</string>
            <key>size</key>
            <string>{2033,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:505dec11706bea7ce9f02caeaaa39498$</string>
            <key>textureFileName</key>
            <string>movers_ui_homepage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
